:root {
    --primarycolor: rgba(26, 123, 108, 1);
    --primarycolordisable: rgba(223, 242, 239, 1);
    --brand-color: rgba(42, 216, 131, 1);
    --text-title: rgba(97, 98, 98, 1);
    --red-logo: rgba(239, 80, 69, 1);
    --text-color: rgba(30, 31, 75, 1);
    --perosnal-website-org: rgba(253, 110, 10, 1);
    --pure-white: rgba(255, 255, 255, 1);
  }
  